<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="8833AxlAdrian.GameofQuiz" Publisher="CN=390B6B7B-8AFA-45A8-B118-D6756AE8C67D" Version="1.1.0.4" />
  <Properties>
    <DisplayName>Game of Quiz</DisplayName>
    <PublisherDisplayName>AxlAdrian</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="WarOfTheQuiz.App">
      <m2:VisualElements DisplayName="Game of Quiz" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="WarOfTheQuiz" ForegroundText="light" BackgroundColor="#000000" ToastCapable="true">
        <m2:DefaultTile Square310x310Logo="Assets\310logo.png" Wide310x150Logo="Assets\wide-Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#ffffff" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>